.video-container{
  position: relative;
}

.video-board-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  /* height: 50px; */
  height: auto;
  width: 100%;
  /* background: green; */
}

.video-board-content{
  width: calc(100% - 80px);
  /* background: black; */
}

.float-layer-hide{
  height: 40px;
  width: 100%;
  /* background: yellow; */
  opacity: 0;
}

.barbg {
  position: relative;
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: #e8e8e8;
  border-radius: 4px;
}

.barbg .cur {
  position: absolute;
  height: 9px;
  top: 7;
  left: 0;
  border-radius: 4px;
  background: #0099ff;
}

.cur .barflag {
  position: absolute;
  top: -5px;
  right: -11px;
  width: 15px;
  height: 17px;
  margin-left: -9px;
  background: #0099ff;
  border-radius: 50%;
}

.handle-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
.handle-content{
  display: flex;
}

.handle-img{
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.time-flag {
  margin-left: 10px;
  color: white;
}

.vjs-big-play-button{
  display: none !important;
}
.vjs-control-bar{
  display: none !important;
}